body {
    margin: 0;
}

.p1 {
    overflow: hidden; 
    position: relative; 
    background-color: white; 
    width: 909px; 
    height: 1286px;
}

.pg1Overlay {
    width:100%; 
    height:100%; 
    position:absolute; 
    z-index:1; 
    background-color:rgba(0,0,0,0); 
    -webkit-user-select: none;
}

.pg1 {
    -webkit-user-select: none;
}

.pdf1 {
    width:'909px';
    height:'1286px';
    -moz-transform:'scale(1)';
    z-index: '0'
}

.t {
	transform-origin: bottom left;
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
	line-height: 1.5;
}
.text-container {
	white-space: pre;
}
@supports (-webkit-touch-callout: none) {
	.text-container {
		white-space: normal;
	}
}

#t1_1{left:371px;bottom:1140px;letter-spacing:0.13px;word-spacing:0.04px;}
#t2_1{left:404px;bottom:1127px;letter-spacing:0.02px;word-spacing:0.15px;}
#t3_1{left:596px;bottom:1053px;letter-spacing:0.17px;word-spacing:0.01px;}
#t4_1{left:596px;bottom:1025px;letter-spacing:0.06px;}
#t5_1{left:596px;bottom:961px;}
#t6_1{left:750px;bottom:961px;letter-spacing:0.38px;}
#t7_1{left:835px;bottom:961px;letter-spacing:0.04px;}
#t8_1{left:57px;bottom:914px;letter-spacing:0.06px;}
#t9_1{left:750px;bottom:901px;letter-spacing:0.38px;}
#ta_1{left:835px;bottom:901px;letter-spacing:0.04px;}
#tb_1{left:57px;bottom:889px;}
#tc_1{left:596px;bottom:889px;letter-spacing:0.03px;word-spacing:0.15px;}
#td_1{left:393px;bottom:866px;letter-spacing:0.38px;}
#te_1{left:531px;bottom:866px;letter-spacing:0.04px;}
#tf_1{left:57px;bottom:853px;letter-spacing:0.03px;word-spacing:0.15px;}
#tg_1{left:57px;bottom:841px;letter-spacing:0.09px;}
#th_1{left:57px;bottom:771px;letter-spacing:0.01px;word-spacing:0.16px;}
#ti_1{left:371px;bottom:650px;letter-spacing:0.13px;word-spacing:0.04px;}
#tj_1{left:404px;bottom:637px;letter-spacing:0.02px;word-spacing:0.15px;}
#tk_1{left:596px;bottom:562px;letter-spacing:0.17px;word-spacing:0.01px;}
#tl_1{left:596px;bottom:534px;letter-spacing:0.06px;}
#tm_1{left:596px;bottom:470px;}
#tn_1{left:750px;bottom:470px;letter-spacing:0.38px;}
#to_1{left:835px;bottom:470px;letter-spacing:0.04px;}
#tp_1{left:57px;bottom:422px;letter-spacing:0.06px;}
#tq_1{left:750px;bottom:409px;letter-spacing:0.38px;}
#tr_1{left:835px;bottom:409px;letter-spacing:0.04px;}
#ts_1{left:57px;bottom:396px;}
#tt_1{left:596px;bottom:396px;letter-spacing:0.03px;word-spacing:0.15px;}
#tu_1{left:393px;bottom:372px;letter-spacing:0.38px;}
#tv_1{left:531px;bottom:372px;letter-spacing:0.04px;}
#tw_1{left:57px;bottom:359px;letter-spacing:0.03px;word-spacing:0.15px;}
#tx_1{left:57px;bottom:347px;letter-spacing:0.09px;}
#ty_1{left:57px;bottom:280px;letter-spacing:0.01px;word-spacing:0.16px;}
#tz_1{left:217px;bottom:523px;letter-spacing:0.1px;}
#t10_1{left:381px;bottom:523px;letter-spacing:0.02px;}
#t11_1{left:417px;bottom:575px;letter-spacing:0.11px;}
#t12_1{left:460px;bottom:523px;letter-spacing:0.03px;}
#t13_1{left:487px;bottom:562px;letter-spacing:0.02px;}
#t14_1{left:392px;bottom:715px;letter-spacing:0.17px;word-spacing:-0.07px;}
#t15_1{left:273px;bottom:771px;letter-spacing:0.2px;word-spacing:-0.02px;}
#t16_1{left:187px;bottom:764px;letter-spacing:0.27px;}
#t17_1{left:272px;bottom:764px;letter-spacing:0.27px;word-spacing:0.11px;}
#t18_1{left:66px;bottom:810px;word-spacing:0.18px;}
#t19_1{left:187px;bottom:803px;letter-spacing:0.27px;}
#t1a_1{left:277px;bottom:811px;letter-spacing:-0.09px;word-spacing:0.55px;}
#t1b_1{left:224px;bottom:974px;letter-spacing:0.2px;word-spacing:-0.01px;}
#t1c_1{left:57px;bottom:926px;letter-spacing:0.17px;word-spacing:0.01px;}
#t1d_1{left:318px;bottom:1000px;letter-spacing:0.03px;}
#t1e_1{left:229px;bottom:1000px;letter-spacing:0.17px;}
#t1f_1{left:303px;bottom:974px;letter-spacing:0.23px;word-spacing:-0.05px;}
#t1g_1{left:149px;bottom:974px;letter-spacing:0.08px;}
#t1h_1{left:151px;bottom:988px;letter-spacing:0.22px;}
#t1i_1{left:230px;bottom:988px;letter-spacing:0.07px;}
#t1j_1{left:173px;bottom:1000px;letter-spacing:0.03px;}
#t1k_1{left:274px;bottom:889px;letter-spacing:-0.29px;}
#t1l_1{left:608px;bottom:914px;letter-spacing:0.27px;}
#t1m_1{left:265px;bottom:902px;letter-spacing:-0.18px;word-spacing:0.64px;}
#t1n_1{left:238px;bottom:926px;letter-spacing:0.08px;}
#t1o_1{left:316px;bottom:926px;letter-spacing:-0.03px;word-spacing:0.19px;}
#t1p_1{left:378px;bottom:961px;letter-spacing:0.38px;word-spacing:-0.2px;}
#t1q_1{left:672px;bottom:961px;letter-spacing:0.41px;word-spacing:-0.23px;}
#t1r_1{left:596px;bottom:935px;letter-spacing:0.24px;word-spacing:-0.05px;}
#t1s_1{left:611px;bottom:613px;letter-spacing:0.19px;word-spacing:-0.01px;}
#t1t_1{left:662px;bottom:764px;letter-spacing:0.27px;}
#t1u_1{left:753px;bottom:764px;letter-spacing:0.27px;word-spacing:0.11px;}
#t1v_1{left:754px;bottom:771px;letter-spacing:0.2px;word-spacing:-0.02px;}
#t1w_1{left:601px;bottom:771px;letter-spacing:-0.02px;}
#t1x_1{left:712px;bottom:803px;letter-spacing:0.27px;}
#t1y_1{left:779px;bottom:803px;letter-spacing:0.27px;word-spacing:0.11px;}
#t1z_1{left:392px;bottom:727px;letter-spacing:0.13px;word-spacing:-0.02px;}
#t20_1{left:142px;bottom:637px;letter-spacing:0.1px;word-spacing:0.06px;}
#t21_1{left:392px;bottom:705px;letter-spacing:0.07px;word-spacing:0.02px;}
#t22_1{left:66px;bottom:523px;letter-spacing:0.21px;}
#t23_1{left:173px;bottom:510px;letter-spacing:0.03px;}
#t24_1{left:229px;bottom:510px;letter-spacing:0.17px;}
#t25_1{left:318px;bottom:510px;letter-spacing:0.03px;}
#t26_1{left:449px;bottom:510px;letter-spacing:0.04px;}
#t27_1{left:165px;bottom:547px;letter-spacing:-0.19px;word-spacing:0.37px;}
#t28_1{left:496px;bottom:664px;letter-spacing:0.03px;}
#t29_1{left:502px;bottom:575px;letter-spacing:0.2px;}
#t2a_1{left:486px;bottom:650px;letter-spacing:0.41px;}
#t2b_1{left:355px;bottom:841px;letter-spacing:0.11px;}
#t2c_1{left:409px;bottom:841px;letter-spacing:0.09px;}
#t2d_1{left:97px;bottom:889px;letter-spacing:-0.21px;word-spacing:0.67px;}
#t2e_1{left:377px;bottom:1000px;letter-spacing:0.21px;word-spacing:-0.02px;}
#t2f_1{left:310px;bottom:881px;letter-spacing:0.36px;}
#t2g_1{left:78px;bottom:866px;letter-spacing:0.27px;}
#t2h_1{left:300px;bottom:988px;letter-spacing:0.05px;}
#t2i_1{left:679px;bottom:952px;letter-spacing:0.32px;}
#t2j_1{left:392px;bottom:1195px;letter-spacing:0.07px;word-spacing:0.02px;}
#t2k_1{left:392px;bottom:1205px;letter-spacing:0.17px;word-spacing:-0.07px;}
#t2l_1{left:392px;bottom:1215px;letter-spacing:0.13px;word-spacing:-0.02px;}
#t2m_1{left:142px;bottom:1127px;letter-spacing:0.1px;word-spacing:0.06px;}
#t2n_1{left:496px;bottom:1154px;letter-spacing:0.03px;}
#t2o_1{left:486px;bottom:1140px;letter-spacing:0.41px;}
#t2p_1{left:417px;bottom:1065px;letter-spacing:0.11px;}
#t2q_1{left:502px;bottom:1065px;letter-spacing:0.2px;}
#t2r_1{left:408px;bottom:1053px;letter-spacing:0.13px;}
#t2s_1{left:212px;bottom:1096px;letter-spacing:0.31px;word-spacing:0.06px;}
#t2t_1{left:487px;bottom:1053px;letter-spacing:0.02px;}
#t2u_1{left:165px;bottom:1038px;letter-spacing:-0.19px;word-spacing:0.37px;}
#t2v_1{left:644px;bottom:1012px;letter-spacing:-0.08px;word-spacing:0.53px;}
#t2w_1{left:449px;bottom:1000px;letter-spacing:0.04px;}
#t2x_1{left:539px;bottom:1039px;letter-spacing:-0.29px;}
#t2y_1{left:484px;bottom:1039px;letter-spacing:0.36px;}
#t2z_1{left:66px;bottom:1013px;letter-spacing:0.21px;}
#t30_1{left:217px;bottom:1013px;letter-spacing:0.1px;}
#t31_1{left:381px;bottom:1013px;letter-spacing:0.02px;}
#t32_1{left:206px;bottom:1120px;letter-spacing:0.35px;}
#t33_1{left:417px;bottom:1039px;letter-spacing:0.41px;}
#t34_1{left:783px;bottom:811px;letter-spacing:-0.09px;word-spacing:0.55px;}
#t35_1{left:654px;bottom:1000px;letter-spacing:-0.18px;word-spacing:0.64px;}
#t36_1{left:677px;bottom:1053px;letter-spacing:0.08px;}
#t37_1{left:799px;bottom:961px;letter-spacing:0.41px;}
#t38_1{left:443px;bottom:988px;letter-spacing:0.05px;}
#t39_1{left:460px;bottom:1013px;letter-spacing:0.03px;}
#t3a_1{left:684px;bottom:1140px;letter-spacing:-0.34px;}
#t3b_1{left:708px;bottom:1184px;letter-spacing:0.35px;}
#t3c_1{left:653px;bottom:1192px;letter-spacing:0.11px;word-spacing:0.35px;}
#t3d_1{left:597px;bottom:1078px;letter-spacing:0.41px;}
#t3e_1{left:660px;bottom:1039px;letter-spacing:-0.03px;word-spacing:0.19px;}
#t3f_1{left:711px;bottom:928px;letter-spacing:0.36px;}
#t3g_1{left:799px;bottom:901px;letter-spacing:0.41px;}
#t3h_1{left:254px;bottom:914px;letter-spacing:-0.08px;word-spacing:0.53px;}
#t3i_1{left:272px;bottom:803px;letter-spacing:0.27px;word-spacing:0.11px;}
#t3j_1{left:297px;bottom:841px;letter-spacing:-0.03px;word-spacing:0.48px;}
#t3k_1{left:467px;bottom:866px;letter-spacing:0.41px;}
#t3l_1{left:320px;bottom:854px;letter-spacing:-0.16px;word-spacing:0.62px;}
#t3m_1{left:606px;bottom:810px;word-spacing:0.18px;}
#t3n_1{left:609px;bottom:841px;letter-spacing:-0.08px;word-spacing:0.54px;}
#t3o_1{left:741px;bottom:889px;letter-spacing:-0.16px;word-spacing:0.62px;}
#t3p_1{left:604px;bottom:901px;letter-spacing:0.27px;}
#t3q_1{left:224px;bottom:484px;letter-spacing:0.2px;word-spacing:-0.01px;}
#t3r_1{left:151px;bottom:497px;letter-spacing:0.22px;}
#t3s_1{left:303px;bottom:484px;letter-spacing:0.23px;word-spacing:-0.05px;}
#t3t_1{left:230px;bottom:497px;letter-spacing:0.07px;}
#t3u_1{left:300px;bottom:497px;letter-spacing:0.05px;}
#t3v_1{left:466px;bottom:534px;letter-spacing:0.41px;}
#t3w_1{left:484px;bottom:549px;letter-spacing:0.36px;}
#t3x_1{left:539px;bottom:549px;letter-spacing:-0.29px;}
#t3y_1{left:320px;bottom:360px;letter-spacing:-0.16px;word-spacing:0.62px;}
#t3z_1{left:310px;bottom:389px;letter-spacing:0.36px;}
#t40_1{left:78px;bottom:372px;letter-spacing:0.27px;}
#t41_1{left:467px;bottom:372px;letter-spacing:0.41px;}
#t42_1{left:97px;bottom:397px;letter-spacing:-0.21px;word-spacing:0.67px;}
#t43_1{left:206px;bottom:630px;letter-spacing:0.35px;}
#t44_1{left:408px;bottom:562px;letter-spacing:0.13px;}
#t45_1{left:212px;bottom:604px;letter-spacing:0.31px;word-spacing:0.06px;}
#t46_1{left:417px;bottom:549px;letter-spacing:0.41px;}
#t47_1{left:377px;bottom:510px;letter-spacing:0.21px;word-spacing:-0.02px;}
#t48_1{left:443px;bottom:497px;letter-spacing:0.05px;}
#t49_1{left:274px;bottom:397px;letter-spacing:-0.29px;}
#t4a_1{left:149px;bottom:484px;letter-spacing:0.08px;}
#t4b_1{left:254px;bottom:422px;letter-spacing:-0.08px;word-spacing:0.53px;}
#t4c_1{left:57px;bottom:434px;letter-spacing:0.17px;word-spacing:0.01px;}
#t4d_1{left:238px;bottom:434px;letter-spacing:0.08px;}
#t4e_1{left:316px;bottom:434px;letter-spacing:-0.03px;word-spacing:0.19px;}
#t4f_1{left:708px;bottom:694px;letter-spacing:0.35px;}
#t4g_1{left:684px;bottom:649px;letter-spacing:-0.34px;}
#t4h_1{left:625px;bottom:587px;letter-spacing:0.24px;word-spacing:-0.06px;}
#t4i_1{left:608px;bottom:422px;letter-spacing:0.27px;}
#t4j_1{left:672px;bottom:470px;letter-spacing:0.41px;word-spacing:-0.23px;}
#t4k_1{left:660px;bottom:549px;letter-spacing:-0.03px;word-spacing:0.19px;}
#t4l_1{left:654px;bottom:509px;letter-spacing:-0.18px;word-spacing:0.64px;}
#t4m_1{left:799px;bottom:470px;letter-spacing:0.41px;}
#t4n_1{left:609px;bottom:347px;letter-spacing:-0.08px;word-spacing:0.54px;}
#t4o_1{left:806px;bottom:613px;letter-spacing:0.41px;}
#t4p_1{left:677px;bottom:562px;letter-spacing:0.08px;}
#t4q_1{left:644px;bottom:522px;letter-spacing:-0.08px;word-spacing:0.53px;}
#t4r_1{left:576.8px;bottom:463px;letter-spacing:-0.06px;word-spacing:0.25px;}
#t4s_1{left:576.8px;bottom:506.3px;letter-spacing:0.14px;word-spacing:0.05px;}
#t4t_1{left:711px;bottom:438px;letter-spacing:0.36px;}
#t4u_1{left:604px;bottom:409px;letter-spacing:0.27px;}
#t4v_1{left:799px;bottom:409px;letter-spacing:0.41px;}
#t4w_1{left:653px;bottom:701px;letter-spacing:0.11px;word-spacing:0.35px;}
#t4x_1{left:297px;bottom:347px;letter-spacing:-0.03px;word-spacing:0.48px;}
#t4y_1{left:355px;bottom:347px;letter-spacing:0.11px;}
#t4z_1{left:378px;bottom:470px;letter-spacing:0.38px;word-spacing:-0.2px;}
#t50_1{left:597px;bottom:587px;letter-spacing:0.41px;}
#t51_1{left:596px;bottom:445px;letter-spacing:0.24px;word-spacing:-0.05px;}
#t52_1{left:679px;bottom:462px;letter-spacing:0.32px;}
#t53_1{left:409px;bottom:347px;letter-spacing:0.09px;}
#t54_1{left:606px;bottom:316px;word-spacing:0.18px;}
#t55_1{left:783px;bottom:317px;letter-spacing:-0.09px;word-spacing:0.55px;}
#t56_1{left:741px;bottom:397px;letter-spacing:-0.16px;word-spacing:0.62px;}
#t57_1{left:66px;bottom:316px;word-spacing:0.18px;}
#t58_1{left:277px;bottom:317px;letter-spacing:-0.09px;word-spacing:0.55px;}
#t59_1{left:601px;bottom:280px;letter-spacing:-0.02px;}
#t5a_1{left:754px;bottom:280px;letter-spacing:0.2px;word-spacing:-0.02px;}
#t5b_1{left:187px;bottom:273px;letter-spacing:0.27px;}
#t5c_1{left:272px;bottom:273px;letter-spacing:0.27px;word-spacing:0.11px;}
#t5d_1{left:753px;bottom:273px;letter-spacing:0.27px;word-spacing:0.11px;}
#t5e_1{left:662px;bottom:273px;letter-spacing:0.27px;}
#t5f_1{left:265px;bottom:409px;letter-spacing:-0.18px;word-spacing:0.64px;}
#t5g_1{left:187px;bottom:309px;letter-spacing:0.27px;}
#t5h_1{left:272px;bottom:309px;letter-spacing:0.27px;word-spacing:0.11px;}
#t5i_1{left:273px;bottom:280px;letter-spacing:0.2px;word-spacing:-0.02px;}
#t5j_1{left:712px;bottom:309px;letter-spacing:0.27px;}
#t5k_1{left:779px;bottom:309px;letter-spacing:0.27px;word-spacing:0.11px;}
#t5l_1{left:625px;bottom:1078px;letter-spacing:0.24px;word-spacing:-0.06px;}
#t5m_1{left:466px;bottom:1025px;letter-spacing:0.41px;}
#t5n_1{left:611px;bottom:1104px;letter-spacing:0.19px;word-spacing:-0.01px;}
#t5o_1{left:806px;bottom:1104px;letter-spacing:0.41px;}

.s1{font-size:10px;font-family:TimesNewRomanPSMT_u;color:#000;}
.s2{font-size:7px;font-family:TimesNewRomanPSMT_x;color:#000;}
.s3{font-size:6px;font-family:TimesNewRomanPSMT_-;color:#000;}
.s4{font-size:9px;font-family:TimesNewRomanPS-ItalicMT_12;color:#000;}
.s5{font-size:10px;font-family:TimesNewRomanPS-BoldItalicMT_15;color:#000;}
.s6{font-size:10px;font-family:TimesNewRomanPS-BoldMT_18;color:#000;}
.s7{font-size:10px;font-family:TimesNewRomanPS-ItalicMT_1b;color:#000;}
.s8{font-size:13px;font-family:TimesNewRomanPS-BoldMT_1e;color:#000;}
.s9{font-size:9px;font-family:TimesNewRomanPS-BoldMT_1h;color:#000;}
.sa{font-size:9px;font-family:TimesNewRomanPSMT_1k;color:#000;}
.sb{font-size:10px;font-family:TimesNewRomanPS-BoldItalicMT_15;color:#FFF;}
.t.m0_1{transform:matrix(0,-1,1,0,0,0);}

@font-face {
	font-family: TimesNewRomanPS-BoldItalicMT_15;
	src: url("./fonts/TimesNewRomanPS-BoldItalicMT_15.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-BoldMT_18;
	src: url("./fonts/TimesNewRomanPS-BoldMT_18.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-BoldMT_1e;
	src: url("./fonts/TimesNewRomanPS-BoldMT_1e.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-BoldMT_1h;
	src: url("./fonts/TimesNewRomanPS-BoldMT_1h.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-ItalicMT_12;
	src: url("./fonts/TimesNewRomanPS-ItalicMT_12.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-ItalicMT_1b;
	src: url("./fonts/TimesNewRomanPS-ItalicMT_1b.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPSMT_-;
	src: url("./fonts/TimesNewRomanPSMT_-.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPSMT_1k;
	src: url("./fonts/TimesNewRomanPSMT_1k.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPSMT_u;
	src: url("./fonts/TimesNewRomanPSMT_u.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPSMT_x;
	src: url("./fonts/TimesNewRomanPSMT_x.woff") format("woff");
}